{% extends 'crowdFunding/home.html' %} {% load static %} {% block content %}
<div class="container">
  <p class="fs-1 fw-bold text-center">About US</p>
  <p class="fs-1 text-center">Crowd Funding</p>
  <p class="text-center">
    We've got you covered. CrowdFunding is a trusted leader in online
    fundraising. With simple pricing and a team of Trust and Safety experts in
    your corner, you can raise money or make a donation with peace of mind.
  </p>
  <div class="text-center">
    <img src="{% static 'images/img.jpg' %}" alt="My image" />
  </div>
</div>
{% endblock content %}
