{% extends 'crowdFunding/home.html' %} {% load static %} {% block content %}
<p class="fs-1 fw-bold text-center">Reprot Project</p>
<div class="container">
  {% if message and alert %} {% if alert == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% elif alert == 'danger' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% endif %} {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}
    <form
      method="post"
      action="{% url 'reportProject' project_id %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {% if error %}
      <div class="alert alert-danger mb-2" role="alert">{{error}}</div>
      {% endif %}

      <div class="mb-3 text-center">{{ report_form.as_p }}</div>

      <div class="col-auto text-center">
        <button type="submit" class="btn btn-primary mb-3 w-50">Submit</button>
      </div>
    </form>
  </div>
  {% endblock content %}
</div>
